
<h2>Add	Review:</h2>
<%=	form_with(model:	 [	@administrator,	@administrator.patrons.build ],	local:	true)	do	|form|	%>
    <%	if @administrator.errors.any?	%>
    <div	id="error_explanation">
    <h2>
        error/s	prohibited
        this administrator from being saved:
    </h2>
    <ul>
    <%	@administrator.errors.full_messages.each do	|msg|	%>
    <li><%=	msg %></li>
    <%	end	%>
    <%	end	%>
    <p>
    <%=	form.label :name	%><br>
    <%=	form.text_field :name	%>
    </p>
    <p>
    <%=	form.label :review	 %><br>
    <%=	form.text_area :review	%>
    </p>
    <p>
    <%=	form.submit %>
    </p>
<%	end	%>
<%=link_to 'Back',	administrator_patrons_path(1)%>