<h1> Search Results </h1>

<table>
<tr>
<th>Title</th>
<th>Author</th>
<th>ISBN</th>
<th>Links</th>
<th></th>
</tr>
<%	@administrators.each do	|administrator|	%>
    <%	if @administrator.errors.any?	%>
    <div	id="error_explanation">
        <h2>
        error/s	prohibited
        this administrator from checking out:
        </h2>
    </div>
    <%	end	%>
<tr>
<td><%=	administrator.title %></td>
<td><%=	administrator.author %></td>
<td><%=	administrator.isbn %></td>
<td><%=	link_to 'Edit',	
edit_administrator_path(administrator)	%></td>
<% if (administrator.copies>0) %>
    <td><%=	link_to_if(administrator.copies>0, 'Checkout',	{:controller => "administrators", :action => "checkoutBook", :admin=> administrator.id})%></td>
<% end %>

</tr>
<%	end	%>
</table>
<%=link_to 'Back',	:controller => "administrators", :action => "searchPage"%>