<p>
<strong>Title:</strong>
<%=	@administrator.title %>
</p>
<p>
<strong>Author:</strong>
<%=	@administrator.author %>
</p>
<p>
<strong>ISBN:</strong>
<%=	@administrator.isbn %>
</p>

<% if (@administrator.patrons.length!=0) %>
    <h1> View Reviews </h1>
    <%	@administrator.patrons.each do	|patron|	%>
        <p>
        <strong>Name:</strong>
        <%=	patron.name %>
        </p>
        <p>
        <strong>Review:</strong>
        <%=	patron.review %>
        </p>
        <br>
    <%	end	%>
<% end %> 
</br>
<%=	link_to 'Back',	administrator_patrons_path(1) %>